<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="EDAI1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase3"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AddPatient"
            android:exported="false" />
        <activity
            android:name=".MyPatients"
            android:exported="false" />
        <activity
            android:name=".PatientQr"
            android:exported="false" />
        <activity
            android:name=".PDFselect"
            android:exported="false" />
        <activity
            android:name=".UploadMain"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8006676438408482~4669310424" />

        <activity
            android:name=".DoctorList"
            android:exported="false" />
        <activity
            android:name=".DoctorDashboard"
            android:exported="false" />
        <activity
            android:name=".userType"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Uploaddoc"
            android:exported="false" />
        <activity
            android:name=".viewinvoices"
            android:exported="false" />
        <activity
            android:name=".viewprofile"
            android:exported="false" />
        <activity
            android:name=".editprofile"
            android:exported="false" />
        <activity
            android:name=".ProfileView"
            android:exported="false" />
        <activity
            android:name=".Dashboard1"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RetrievePDFActivity"
            android:exported="false" />
    </application>

</manifest>